nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='#') SciTech
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.btn.btn-light(href='#')
          | Обсуждаемое
          span.sr-only (current)
      li.nav-item.active
        a.btn.btn-light(href='#')
          | Популярное
          span.sr-only (current)
      li.nav-item.active
        a.btn.btn-light(href='#')
          | Новое
          span.sr-only (current)
      li.nav-item.active
        a.btn.btn-light(href='#')
          | Популярные тэги
          span.sr-only (current)
      li.nav-item.active
        a.btn.btn-light(href='#')
          | Избранные
          span.sr-only (current)
      li.nav-item.active
        a.btn.btn-light(href='#')
          | О нас
          span.sr-only (current)
    form.form-inline.my-2.my-lg-0
      input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-primary(type='submit') Поиск