extends includes/base

block content
  img(src='https://dwstroy.ru/lessons/les3373/demo/img/men.png')
  form(method="POST" action="/login")
    .dws-input
      input(type='text' name='username' placeholder='Имя пользователя')
    .dws-input
      input(type='password' name='password' placeholder='Пароль')
    if message
      div(style="color: #ff5959;")= message
    input.dws-submit(type='submit' name='submit' value='Войти')
    br
    .form-group.form-check
      input.form-check-input#exampleCheck1(type='checkbox' name="remember" value='true' style='width:20px; height:20px;')
      label.form-check-label(style='margin-left: 10px; color:#DCDCDC' for='exampleCheck1') Запомнить меня