extends includes/base

block content
  img(src='https://dwstroy.ru/lessons/les3373/demo/img/men.png')
  form(method="POST" action="/register")
    .dws-input
      input(type='text' name='name' placeholder='Имя')
    .dws-input
      input(type='text' name='username' placeholder='Никнейм')
    .dws-input
      input(type="tel" name='phoneNumber' placeholder='Номер телефона')
    .dws-input
      input(type='password' name='password' placeholder='Пароль')
    if message
      div(style="color: #ff5959;")= message
    input.dws-submit(type='submit' name='submit' value='РЕГИСТРАЦИЯ')
    br
    .form-group.form-check
      input.form-check-input#exampleCheck1(type='checkbox' name="agreement" value='true' style='width:20px; height:20px;')
      label.form-check-label(style='margin-left: 10px; color:#DCDCDC' for='exampleCheck1') Согласен с условиями
  .dws-social
    i.fa.fa-vk(aria-hidden='true')
    i.fa.fa-twitter(aria-hidden='true')
    i.fa.fa-facebook(aria-hidden='true')
    i.fa.fa-google-plus-official(aria-hidden='true')
    i.fa.fa-odnoklassniki(aria-hidden='true')